@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

.text-gray {
  color: #424242;
}

.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.margin-top {
  margin-top: 110px;
}

/* header style */

/* nav bar related style */

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-items {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-image {
  margin-bottom: 50px;
}

/* Banner related Style */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-image {
  width: 100%;
}

/* Team and Feature related Styles */

.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 130px;
  max-width: 530px;
}

.quick {
  font-weight: 400;
  font-size: 2.8rem;
}

.our {
  font-weight: 700;
  font-size: 2.8rem;
}

.feat {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ff900e;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    margin-left: 20px;
    margin-top: 50px;
  }
}

/* Medium-Size device */

@media screen and (max-width: 992px) and (min-width: 576px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 20px auto;
  }
}
